td {
  width: 200px;
  text-align: left;
}

th {
  width: 200px;
  text-align: left;
}

table {
  margin: 0 auto;
}
td:first-child,
th:first-child {
  width: 100px;
}
td:last-child,
th:last-child {
  width: 100px;
}
h2 {
  color: #293241;
}
.home {
  text-decoration: none;
  color: #3d5a80;
}
.emplooye-detail {
  color: white;
}
